---
import PostsSlider from "./PostSlider";
---

<section class='lg:my-10 lg:pt-10 lg:pb-10'>
  <div class='px-2 xl:mx-[12%] text-6xl font-bold'>
    <a href='/blog'>Blog</a>
  </div>
  <PostsSlider client:visible />
</section>
