---
import PostsSlider from "./PostSlider";
---

<section class='my-10'>
  <div class='px-2 xl:mx-[12%] text-4xl lg:text-6xl font-bold'>
    <a href='/blog'>Blog Ludwik Agencja</a>
  </div>
  <PostsSlider client:visible />
</section>
