---
import Layout from "../../layouts/OrderLayout.astro";
import Container from "../../components/neworder/";
import TopContainer from "../../components/neworder/top_container/index";
---

<Layout
  title='Sprzątanie po remoncie w Warszawie'
  description='Potrzebujesz sprzątanie po remoncie? Zobacz, jakie korzyści niesie za sobą wynajęcie firmy sprzątającej i ile to kosztuje.'
  keywords='Sprzątanie po remoncie, sprzątanie po remoncie zielona gora,  sprzątanie po remoncie cennik,sprzątanie mieszkania po remoncie, sprzątanie po remoncie cena, ile kosztuje sprzątanie domu po remoncie '
>
  <TopContainer client:load />
  <!-- <h1 class='text-center'>New Order</h1> -->
  <Container client:load />
</Layout>
