---
import Layout from "../../layouts/Layout.astro";
import Order from "../../components/Order";
import Chat from "../../components/Chats";
---

<Layout title='Welcome to Order'>
  <div class='mt-20 mx-20'>
    <h1>Order</h1>
    <Order client:load />
  </div>
  <Chat client:load />
</Layout>
