---
import Layout from "../../layouts/Layout.astro";
import Order from "../../components/Order";
---

<Layout title='Welcome to Order'>
  <div class='mt-20 mx-20'>
    <h1>Order</h1>
    <Order client:load />
  </div>
</Layout>
