---
import start from "../../images/start.webp";
---

<a
  href={`/order?rooms=${1}&bedrooms=${1}&option=start`}
  class='bg-gray-300 p-10 rounded-xl flex gap-x-5 items-center'
>
  <!-- <img src={start} width={150} height={150} alt={"Start"} /> -->
  <div
    class='w-[150px] h-[150px] rounded-full bg-center bg-cover'
    style={{ backgroundImage: `url(${start})` }}
  >
  </div>

  <div class='text-xl'>
    <p>Złóż pierwsze zamówienie</p>
    <p class='text-lg mt-2'>Promokod start - zniżka 15%</p>
  </div>
</a>
