---
import present from "../../images/present.png";
---

<div class="hidden lg:flex items-center justify-center gap-x-4 relative ">
 
  <a href="/test" >
    <!-- <img src={present} alt="present" width={64} height={64} /> -->
    <div class="tooltip tooltip--bottom text-sm" data-tooltip="Prezent - spszatanie"><img src={present} alt="present" width={64} height={64} /> </div>
  </a>
  <a
    href="/test"
    class="bg-gradient-to-r from-cyan-500 to-blue-400 hover:from-cyan-700 hover:to-blue-500 transition-transform py-2 lg:py-5 px-2 lg:px-4 text-white rounded-full flex items-center gap-x-5 hover:underline font-medium"
  >
    <div class="text-center">
      <p class="">-15%</p>
      <p class="text-[12px] font-mono">na start</p>
    </div>
  </a>
</div>

<style>
.tooltip {
  position: relative; 
}

.tooltip::before,
.tooltip::after {
  position: absolute;
  text-align: center;
}



.tooltip::before {
  content: attr(data-tooltip);
  z-index: 2;
  width: 160px;
  color: #000;
  background: rgba(233, 150, 27, 0.7);
  border-radius: 5px; 
  font-weight: 100;
}

.tooltip::after {
  content: "";
  width: 0;
  height: 0;
}

.tooltip--bottom::before {
  top: 100%;
  transform: translate(-40%);
  margin-top: 8px;
  padding: 2px;
}


.tooltip--bottom::after {
  top: 100%;
  left: 40%; 
  margin-top: 8px;
}



.tooltip--bottom::after {
  margin-top: 1px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 7px solid rgba(233, 150, 27, 0.7);;  
}


</style>
