---
import present from "../../images/present.png";
---

<div class='hidden lg:flex items-center justify-center gap-x-4'>
  <a href='/test'>
    <img src={present} alt="present" width={64} height={64} />
  </a>
  <a
    href='/test'
    class='bg-gradient-to-t from-yellow-300 to-orange-500 py-2 lg:py-2 px-2 lg:px-8 text-sm lg:text-xl text-black tracking-wider font-bold rounded-3xl flex items-center gap-x-5 transition-transform hover:underline'
  >
  <div class="text-center ">
   <p>Zniszka 15%</p>
   <p>na start</p>
  </div>
  </a>
</div>
