---
import Banner from "../menu/Banner.astro";
---

<div id='dropdowm-menu_123' class='dropdowm-menu'>
  <div class='flex gap-x-10 justify-between mx-8 py-10 2xl:px-20 font-bold'>
    <div class='flex gap-x-10 2xl:gap-x-30'>
      <menu
        itemscope
        itemtype='http://www.schema.org/SiteNavigationElement'
        class='flex flex-col gap-y-4'
      >
        <li itemprop='name'><a itemprop='url' href='/test'>O nas</a></li>
        <li itemprop='name'>
          <a itemprop='url' href='/test'>Usługi sprzątania</a>
        </li>
        <li itemprop='name'><a itemprop='url' href='/test'>Co sprzątamy</a></li>
        <li itemprop='name'><a itemprop='url' href='/test'>Cennik usług</a></li>
        <li itemprop='name'><a itemprop='url' href='/test'>Abonament</a></li>
      </menu>
      <div class='flex flex-col gap-y-3'>
        <a href='/test'>Opinie</a>
        <a href='/test'>Program poleceń</a>
        <a href='/test'>Pytania i odpowiedzi</a>
        <a href='/test' class='text-red-400'>Zniżki i promocje</a>
      </div>
      <div class='flex flex-col gap-y-3'>
        <a href='/test'>Nasi partnerzy</a>
        <a href='/test'>Propozycje dla biznesu</a>
        <a href='/test'>Zostań cleanerem</a>
        <a href='/test'>Blog</a>
      </div>
    </div>
    <Banner />
  </div>
</div>
