---
---

<div class='right-menu block lg:hidden rounded-full'>
  <div id='mobileMenuToggle' class='menuToggle cursor-pointer'>
    <span></span>
    <span class='middle'></span>
    <span class='last-burger-span'></span>
  </div>
</div>

<style>
  .menuToggle {
    display: block;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }

  .menuToggle span {
    display: block;
    width: 34px;
    height: 3px;
    margin-bottom: 8px;
    position: relative;
    background: #0a0000;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
  }
  .menuToggle span:last-child {
    margin-bottom: 0;
  }
  .menuToggle.active span:first-child {
    transform: rotate(45deg) translate(-5px, -2px);
  }
  .menuToggle.active .middle {
    display: none;
  }
  .menuToggle.active span:last-child {
    transform: rotate(-45deg) translate(-5px, -2px);
  }
</style>

<script>
  const body = document.body;
  function initMobileBurger() {
    const burger = document.getElementById("mobileMenuToggle");
    const body = document.body;
    const menu = document.getElementById("mobile_menu_123");
    const header = document.getElementById("header_123");

    burger.addEventListener("click", () => {
      if (menu.style.display === "block") {
        menu.style.display = "none";
        header.classList.remove("bg-white");
        burger.classList.remove("active");

        body.classList.remove("overflow-hidden");
        header.classList.remove("bottom-0");
      } else {
        menu.style.display = "block";
        header.classList.add("bg-white");
        burger.classList.add("active");

        body.classList.add("overflow-hidden");
        header.classList.add("bottom-0");
      }
    });
  }
  initMobileBurger();
</script>
