---
import messanger from "../../images/messenger_m.png";
import telegram from "../../images/telegram_m.png";
import watsapp from "../../images/free-icon-whatsapp-1383269.png";
---

<menu id='mobile_menu_123' class='bg-white px-2 z-50'>
  <div class='mb-8 flex justify-end'></div>
  <div class='flex flex-col gap-y-4 items-center justify-between'>
    <!-- <div
      class='flex items-center gap-y-2 bg-gradient-to-r from-cyan-500 to-green-500 py-4 lg:py-8 px-8 lg:px-16 text-lg lg:text-2xl text-white font-bold rounded-3xl'
    >
      <a href='tel:+4733378901'>+48 690 456 901</a>
    </div> -->
    <div class='flex gap-x-4'>
      <a href='https://m.me/igor.rak.184'>
        <img src={messanger} width={64} height={64} alt={"messanger"} />
      </a>
      <a href='tg://resolve?domain=cleanwhalewarsaw'>
        <img src={telegram} width={64} height={64} alt={"telegram"} />
      </a>
      <a href='https://api.whatsapp.com/send?phone=48690483990'>
        <img src={watsapp} width={64} height={64} alt={"messanger"} />
      </a>
    </div>
  </div>
  <div class='underline mt-5 font-bold'>O NAS</div>
  <div class='flex flex-wrap gap-y-2 gap-x-2 mt-5 text-[13px]'>
    <a href='/test' class='bg-slate-100 py-3 px-5'>O nas</a>
    <a href='/test' class='bg-slate-100 py-3 px-5'>Usługi sprzątania</a>
    <a href='/test' class='bg-slate-100 py-3 px-5'>Co sprzątamy</a>
    <a href='/test' class='bg-slate-100 py-3 px-5'>Cennik usług</a>
    <a href='/test' class='bg-slate-100 py-3 px-5'>Sprzątanie w abonamencie</a>
    <a href='/test' class='bg-slate-100 py-3 px-5'>Opinie</a>
    <a href='/test' class='bg-slate-100 py-3 px-5'>Program poleceń</a>
    <a href='/test' class='bg-slate-100 py-3 px-5'>Pytania i odpowiedzi</a>
    <a href='/test' class='text-red-500 bg-slate-100 py-3 px-5'
      >Zniżki i promocje</a
    >
    <a href='/test' class='bg-slate-100 py-3 px-5'>Nasi partnerzy</a>
    <a href='/test' class='bg-slate-100 py-3 px-5'>Propozycje dla biznesu</a>
    <a href='/test' class='bg-slate-100 py-3 px-5'>Zostań cleanerem</a>
    <a href='/test' class='bg-slate-100 py-3 px-5'>Blog</a>
  </div>
  <div class='flex flex-wrap gap-y-2 gap-x-2 mt-5 text-[13px]'>
    <a href='/test' class='bg-slate-100 py-3 px-5'>O nas</a>
    <a href='/test' class='bg-slate-100 py-3 px-5'>Usługi sprzątania</a>
    <a href='/test' class='bg-slate-100 py-3 px-5'>Co sprzątamy</a>
    <a href='/test' class='bg-slate-100 py-3 px-5'>Cennik usług</a>
    <a href='/test' class='bg-slate-100 py-3 px-5'>Sprzątanie w abonamencie</a>
    <a href='/test' class='bg-slate-100 py-3 px-5'>Opinie</a>
    <a href='/test' class='bg-slate-100 py-3 px-5'>Program poleceń</a>
    <a href='/test' class='bg-slate-100 py-3 px-5'>Pytania i odpowiedzi</a>
    <a href='/test' class='text-red-500 bg-slate-100 py-3 px-5'
      >Zniżki i promocje</a
    >
    <a href='/test' class='bg-slate-100 py-3 px-5'>Nasi partnerzy</a>
    <a href='/test' class='bg-slate-100 py-3 px-5'>Propozycje dla biznesu</a>
    <a href='/test' class='bg-slate-100 py-3 px-5'>Zostań cleanerem</a>
    <a href='/test' class='bg-slate-100 py-3 px-5'>Blog</a>
  </div>
</menu>

<style>
  #mobile_menu_123 {
    display: none;
  }
</style>

<script></script>
