---
import Questions from "./Questions";
import { questionsType } from "../../types";
import Wsparcie from "./Wsparcie.astro";
import next from "../../images/next.png";

type fetchedQuestionsType = Omit<questionsType, "isVisible">;

const fetchedData: fetchedQuestionsType[] = [
  {
    id: 1,
    question: "Sprzątasz w domach jednorodzinnych?",
    answer:
      "Tak, nasza firma oferuje usługi sprzątania dla domów letniskowych, wolnostojących, szeregowych i mieszkań z nietypowym układem pięter. Rezerwację możesz zrobić na naszej stronie internetowej, wpisując liczbę pokoi i łazienek oraz podając powierzchnię w metrach kwadratowych w komentarzach. Możesz też zarezerwować nasze usługi przez media społecznościowe lub kontaktując się z naszym centrum obsługi telefonicznej.",
  },
  {
    id: 2,
    question: "Czy macie wydajne odkurzacze?",
    answer:
      "Tak, oprócz odkurzaczy kompaktowych, mamy także profesjonalne odkurzacze od Kärchera. Jeśli uważasz, że potrzebujesz jednego dla swojego domu, poinformuj nas o tym przy dokonywaniu rezerwacji.",
  },
  {
    id: 3,
    question: "Kto jest zatrudniony w Twojej firmie?",
    answer:
      "Mamy doświadczony, na bieżąco szkolony zespół, oraz szczegółowy proces rekrutacji. Sprawdzamy wszystkie dane kandydatów, kilkukrotnie przeprowadzamy z nimi rozmowy, oceniamy umiejętności poprzez sprzątania testowe oraz egzaminy. Mamy stały skład pracowników, nie przyjmujemy ludzi do pracy na kilka dni lub tygodni.",
  },
  {
    id: 4,
    question: "Czy trzeba zapewniać własne środki czystości?",
    answer:
      "Nasi eksperci posiadają wszystkie niezbędne narzędzia do sprzątania mieszkania i mycia okien. Korzystamy z profesjonalnych środków czyszczących Medisept i w razie potrzeby możemy zapewnić odkurzanie. Każdy specjalista ma zestaw 5-7 środków czyszczących, ściereczki z mikrofibry odpowiednie do różnych powierzchni, wiadro i mop, gąbki, skrobak i szczotkę do włosów. Twoim jedynym zadaniem jest otwarcie drzwi.",
  },
  {
    id: 5,
    question: "Czy oferujecie gruntowne sprzątanie?",
    answer:
      "Każde sprzątanie, które wykonujemy, jest dokładne. To, co możesz uznać za głębokie sprzątanie, będzie standardowym sprzątaniem z kilkoma dodatkowymi usługami. Jeśli potrzebujesz wyczyścić mieszkanie, które nie było sprzątane lub zamieszkiwane przez kilka lat lub gdzie coś się stało, skontaktuj się z nami,",
  },
];

const questions: questionsType[] = fetchedData.map((i) => {
  return { ...i, isVisible: false };
});
---

<section class='my-10 lg:my-10'>
  <div class='lg:pt-10 lg:pb-10 px-2 xl:px-[400px] text-center'>
    <p class='lg:py-8 font-bold text-3xl lg:text-6xl'>
      Ile kosztuje sprzątanie mieszkania?
    </p>
    <a
      class='group bg-neutral-200 hover:bg-neutral-300 flex max-w-fit mx-auto py-4 px-10 rounded-3xl justify-center items-center gap-x-5 my-5'
      href='/test'
      ><div>Zobacz wszystkie odpowiedzi</div>
      <img
        class='group-hover:translate-x-2 transition duration-300'
        src={next}
        width={32}
        height={32}
        alt={"all answers-questios"}
      />
    </a>
  </div>
  <Questions client:visible questions={questions} />
  <Wsparcie />
</section>
