---
import Chats from "./Chats";
---

<section class="flex flex-col items-center mb-20 mt-5 px-2 xl:px-28">
  <p class="text-2xl lg:text-5xl font-medium text-green-700">
    Wsparcie na żywo
  </p>
  <Chats client:visible />
  <div>
    Bez robotów i automatycznych odpowiedzi - zadaj pytanie i otrzymaj szybką
    odpowiedź od człowieka
  </div>
</section>
