---
import whatsapp from "../../images/whatsapp.png";
import telegram from "../../images/telegram.png";
import messenger from "../../images/messenger.png";
import Icon from "./Icon.astro";
---

<div
  class='hidden lg:flex items-center gap-x-8 bg-gradient-to-l from-green-300 to-cyan-500 py-2 lg:py-4 px-4 lg:px-8 text-sm lg:text-2xl tracking-wide text-white font-medium rounded-3xl'
>
  <a href='tel:+4733378901' class='hover:underline'><div class="flex items-center justify-center gap-x"><span class="hover:scale-110 transition-transform"><svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="white" viewBox="0 0 24 24"><path d="M20 22.621l-3.521-6.795c-.008.004-1.974.97-2.048 1.011-2.24 1.086-6.799-7.82-4.609-8.994l2.083-1.026-3.493-6.817-2.106 1.039c-7.202 3.755 4.233 25.982 11.6 22.615.121-.055 2.102-1.029 2.11-1.033z"/></svg></span><span class=" 2xl:font-bold ">+48 690 456 901</span></div></a>
  <div class='flex items-center gap-x-2 lg:gap-x-2'>
    <Icon
      src={whatsapp}
      href='https://api.whatsapp.com/send?phone=48690483990'
      alt='whatsapp'
      width={48}
      height={48}
    />
    <Icon
      src={telegram}
      href='tg://resolve?domain=cleanwhalewarsaw'
      alt='telegram'
      width={48}
      height={48}
    />
    <Icon
      src={messenger}
      href='https://m.me/igor.rak.184'
      alt='messenger'
      width={48}
      height={48}
    />
   
   

  </div>
</div>
