---
import whatsapp from "../../images/whatsapp.png";
import telegram from "../../images/telegram.png";
import messenger from "../../images/messenger.png";
import phone from "../../images/phone2.png";
---

<div
  class='lg:hidden flex items-center gap-x-2 text-sm text-white font-bold rounded-3xl'
>
  <a href='tel:+4733378901'
    ><img src={phone} alt='contact phone number' width={48} height={48} /></a
  >
  <a href='https://m.me/igor.rak.184'
    ><img src={messenger} alt='messenger' width={48} height={48} /></a
  >
  <a href='tg://resolve?domain=cleanwhalewarsaw'
    ><img src={telegram} alt='telegram' width={48} height={48} /></a
  >

  <a href='https://api.whatsapp.com/send?phone=48690483990'
    ><img src={whatsapp} alt='whatsapp' width={48} height={48} /></a
  >
</div>
