---
import Slider from "./Slider";
---

<section>
  <div class='text-center lg:pt-20 pb-20 font-medium'>
    <p class='pb-5 lg:pb-10 font-bold text-3xl lg:text-6xl'>
      Dodatkowe usługi sprzątania
    </p>
    <Slider client:visible />
  </div>
</section>


