---
import cleaning from "../../images/services/household.png";
import renovation from "../../images/services/paint-roller.png";
import window from "../../images/services/windows.png";
import sofa from "../../images/services/sofa.png";
import handyman from "../../images/services/wrench-tool.png";
import kitchen from "../../images/services/kitchen.png";
import car from "../../images/services/car.png";
import office from "../../images/services/office-building.png";
import home from "../../images/services/home.png";
import Slider from "./Slider";

const services = [
  { id: 1, src: cleaning, title: "Sprzątanie mieszkania", link: "./test" },
  { id: 2, src: renovation, title: "Sprzątanie po remoncie", link: "./test" },
  { id: 3, src: window, title: "Mycie okien", link: "./test" },
  {
    id: 4,
    src: sofa,
    title: "Czyszczenie chemiczne mebli i kanap",
    link: "./test",
  },
  {
    id: 5,
    src: handyman,
    title: "Złota rączka",
    link: "./test",
  },
  {
    id: 6,
    src: kitchen,
    title: "Sprzątanie kuchni",
    link: "./test",
  },
  {
    id: 7,
    src: car,
    title: "Mycie i sprzątanie samochodu",
    link: "./test",
  },

  {
    id: 8,
    src: office,
    title: "Sprzątanie biur",
    link: "./test",
  },
  {
    id: 9,
    src: home,
    title: "Sprzątanie domu prywatnego i działki",
    link: "./test",
  },
];
---

<section>
  <div class='text-center lg:pt-20 pb-20 font-medium'>
    <p class='pb-5 lg:pb-10 font-bold text-3xl lg:text-6xl'>
      Dodatkowe usługi sprzątania
    </p>
    <Slider client:visible />
  </div>
</section>


