---
import Layout from "../layouts/Layout.astro";
import OrderNavigator from "../components/order_navigator/OrderNavigator";
import Advantages from "../components/advantages/Advantages.astro";
import Options from "../components/options/Options.astro";
import Slider from "../components/slider/Slider.astro";
import Services from "../components/services/Services";
import Addons from "../components/addons/Addons.astro";
import Costs from "../components/Costs";
import Questions from "../components/questions/Questions.astro";
import Description from "../components/description/Description.astro";
// import Opinions from "../components/opinions/Opinions";
// import Locals from "../components/locals/Locals";
// import PostsSlider from "../components/posts/PostSlider";
import Posts from "../components/posts/Posts.astro";
import Ourcervices from "../components/ourservices/Ourcervices.astro";
import RightMenu from "../components/menu/RightMenu";
---

<Layout
  title='Sprzątanie mieszkań Zielona Góra'
  description='Firma sprzątającą w Zielonej Górze! Sprzątanie mieszkańia Zielona Góra, sprzątanie po remoncie, mycie okien, pranie mebli i kanap, sprzątanie biur i locali'
  keywords='sprzątanie, sprzątanie mieszkań, sprzątanie mieszkań zielona góra, sprzątanie mieszkania zielona góra, sprzątanie domu, sprzątanie mieszkań cena za godzinę, sprzątanie mieszkań cennik, sprzątanie mieszkań, prywatnych warszawa, sprzątanie domu cena, ile za sprzątanie domu'
>
  <div class='prime'>
    <div class='w-5/6 lg:w-4/5 mx-auto pt-28 lg:pt-60 text-center'>
      <h1 class='text-3xl xl:text-7xl font-extrabold tracking-wide'>
        Sprzątanie mieszkań Zielona Góra
      </h1>
      <p class='text-sm md:text-lg lg:text-lg lg:py-5 fomt-medium'>
        Sprzątamy też domy jednorodzinny a letniskowy (altany), biura i
        mieszkania po remoncie
      </p>
      <p class='text-sm md:text-2xl lg:text-lg py-2 lg:py-10'>
        Usługa składa się z kuchni, łazienki, sypialni i przedpokoju.
      </p>
    </div>
    <OrderNavigator client:idle />
  </div>

  <Advantages />
  <!-- <Opinions client:load /> -->
  <Options />
  <Slider />
  <Services client:visible />
  <Addons />
  <Costs client:visible />
  <Questions />
  <Description />
  <!-- <Locals client:visible /> -->
  <Ourcervices />
  <Posts />
  <section class='my-32'>
    <h3 class='text-center font-bold text-2xl lg:text-4xl mb-10'>
      Zamów sprzątanie mieszkania
    </h3>
    <div class='mb-10'><OrderNavigator client:load /></div>
  </section>
</Layout>

<style>
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  .prime {
    height: 100vh;
    background: url(https://res.cloudinary.com/zielona-g-ra/image/upload/v1674714539/clean/bg_1_o8yetv.webp)
      no-repeat top/cover;
  }
</style>
