---
import Layout from "../layouts/Layout.astro";
import OrderNavigator from "../components/order_navigator/OrderNavigator";
// import Chat from "../components/layout/Chats";
// import Options from "../components/options/Options.astro";
// import Slider from "../components/slider/Slider.astro";
// import Advantages from "../components/advantages/Advantages.astro";
// import Services from "../components/services/Services.astro";
// import Addons from "../components/addons/Addons.astro";
// import Costs from "../components/Costs.astro";
// import Questions from "../components/questions/Questions.astro";
// import Description from "../components/description/Description.astro";
// import Opinions from "../components/opinions/Opinions";
---

<Layout
  title='Sprzątanie mieszkań Zielona Góra'
  description='Firma sprzątającą w Zielonej Górze! Sprzątanie mieszkańia Zielona Góra, sprzątanie po remoncie, mycie okien, pranie mebli i kanap, sprzątanie biur i locali'
  keywords='sprzątanie, sprzątanie mieszkań, sprzątanie mieszkań zielona góra, sprzątanie mieszkania zielona góra, sprzątanie domu, sprzątanie mieszkań cena za godzinę, sprzątanie mieszkań cennik, sprzątanie mieszkań, prywatnych warszawa, sprzątanie domu cena, ile za sprzątanie domu'
>
  <div class='prime'>
    <div class='w-5/6 lg:w-3/5 mx-auto pt-28 lg:pt-60 text-center'>
      <h1 class='text-3xl md:text-4xl lg:text-6xl font-bold'>
        Sprzątanie mieszkań Zielona Góra
      </h1>
      <p class='text-sm md:text-2xl lg:text-2xl py-5'>
        Usługa obejmuje kuchnię, łazienkę, pokoje oraz przedpokój
      </p>
    </div>
    <OrderNavigator client:idle />
  </div>
  <!-- <Chat client:idle /> -->
  <!-- <Advantages />
   <Options />

   <Slider />
   <Services />
   <Addons />
   <Costs/> 
   <Questions/> 
   <Description/> 
  <Opinions client:only/>  -->
</Layout>

<style>
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  .prime {
    height: 100vh;
    background: url(https://res.cloudinary.com/zielona-g-ra/image/upload/v1674714539/clean/bg_1_o8yetv.webp)
      no-repeat center/cover;
  }
</style>
