---
import Layout from "../layouts/Layout.astro";
import OrderNavigator from "../components/OrderNavigator";

---

<Layout 
title="Sprzątanie mieszkań Zielona Góra" 
description="Firma sprzątającą w Zielonej Górze! Sprzątanie mieszkańia Zielona Góra, sprzątanie po remoncie, mycie okien, pranie mebli i kanap, sprzątanie biur i locali"
keywords="sprzątanie, sprzątanie mieszkań, sprzątanie mieszkań zielona góra, sprzątanie mieszkania zielona góra, sprzątanie domu, sprzątanie mieszkań cena za godzinę, sprzątanie mieszkań cennik, sprzątanie mieszkań, prywatnych warszawa, sprzątanie domu cena, ile za sprzątanie domu"
>
  <main>
    <div class="prime">
      <div class="w-3/5 mx-auto pt-80 text-center">
        <h1 class="text-6xl font-bold ">Sprzątanie mieszkań Zielona Góra</h1>
        <p class="text-2xl py-5">Usługa obejmuje kuchnię, łazienkę, pokoje oraz przedpokój</p>
      </div>
	  <OrderNavigator client:load />
    </div>

   
  </main>
</Layout>

<style>
  .prime {
    height: 100vh;
    background: url(/bg-image.jpg) no-repeat top/cover;
  }
</style>
