---
---

<div
  class='bg-gradient-to-r from-cyan-500 to-green-500 py-2 lg:py-4 px-4 lg:px-8 text-xl lg:text-2xl text-white font-bold rounded-3xl flex items-center gap-x-5'
>
  <a href='tel:+4733378901'>+48 690 456 901</a>
  <div class='flex items-center gap-x-2'>
    <a href='https://api.whatsapp.com/send?phone=48690483990' target='_blank'>
      <img
        class='animate'
        src='/assets/frontend/images/icons/whatsapp.svg'
        alt='whatsapp'
      />
    </a>
  </div>

  <style>
    .float {
      width: 60px;
      height: 60px;
      background-color: #25d366;
      color: #fff;
      border-radius: 50px;
      text-align: center;
      font-size: 30px;
      box-shadow: 2px 2px 3px #999;
      z-index: 100;
    }

    .my-float {
      margin-top: 16px;
    }
  </style>
</div>
