---
import whatsapp from "../images/whatsapp.png";
import telegram from "../images/telegram.png";
import messenger from "../images/messenger.png";
import Icon from "./Icon.astro";
---

<div
  class='bg-gradient-to-r from-cyan-500 to-green-500 py-2 lg:py-4 px-4 lg:px-8 text-sm lg:text-2xl text-white font-bold rounded-3xl flex items-center gap-x-5'
>
  <a href='tel:+4733378901'>+48 690 456 901</a>
  <div class='flex items-center gap-x-2 lg:gap-x-2'>
    <Icon
      src={whatsapp}
      href='https://api.whatsapp.com/send?phone=48690483990'
      alt='whatsapp'
      width={32}
      height={32}
    />
    <Icon
      src={telegram}
      href='tg://resolve?domain=cleanwhalewarsaw'
      alt='telegram'
      width={33}
      height={33}
    />
    <Icon
      src={messenger}
      href='https://m.me/igor.rak.184'
      alt='messenger'
      width={32}
      height={32}
    />
  </div>
</div>
