---

---
<section class="costs p-5 text-white">
    <h2 class="pb-10 font-bold text-3xl lg:text-6xl">Sprzątanie Warszawa</h2>
    <div class="pb-10">Postaw na profesjonalne sprzątanie mieszkań Warszawa. Firma CleanWhale skutecznie zadba o porządek w Twoim mieszkaniu.</div>
    <div class='flex justify-center w-60 py-5 lg:py-7 bg-[#2457c6] hover:bg-[#2457c6b9] rounded-xl'>
        <a
          href={`/order`}
          class='transition duration-300  text-white text-lg lg:text-xl font-bold  '
        >
          Policz koszty<span class='ml-16 text-2xl'>&#8594;</span>
        </a>
      </div>
</section>

<style>
    .costs{
    height: 50vh;
    background: url(/1.webp) no-repeat top/cover;
  }
</style>