---
import footer from "../images/footer-logo.webp";
---

<footer class='bg-[#242424] text-white px-2 lg:px-20 py-5 lg:py-10'>
  <div class='flex flex-col lg:flex-row justify-between gap-x-40'>
    <div class='py-2'>
      <a
        href='http://localhost:3000'
        aria-label='Sprzątanie mieszkań Zielona Góra'
      >
        <img
          class='hidden lg:block'
          src={footer}
          width={512}
          height={512}
          alt='Sprzątanie mieszkań Zielona Góra'
        />
      </a>
    </div>
    <div class='basis-full'>
      <h2 class='border-white border-b-2 py-2'>O NAS</h2>
      <div class='flex flex-col gap-y-2 mt-4 text-sm'>
        <a href='/test'>O nas</a>
        <a href='/test'>Usługi sprzątania</a>
        <a href='/test'>Co sprzątamy</a>
        <a href='/test'>Cennik usług</a>
        <a href='/test'>Abonament</a>
        <a href='/test'>Opinie</a>
        <a href='/test'>Program poleceń</a>
        <a href='/test'>Pytania i odpowiedzi</a>
        <a href='/test' class='text-red-400'>Zniżki i promocje</a>
        <a href='/test'>Nasi partnerzy</a>
        <a href='/test'>Propozycje dla biznesu</a>
        <a href='/test'>Zostań cleanerem</a>
        <a href='/test'>Blog</a>
      </div>
    </div>
    <div class='basis-full'>
      <h2 class='border-white border-b-2 py-2'>USLUGI</h2>
      <div class='flex flex-col gap-y-2 mt-4 text-sm'>
        <a href='/test'>Sprzątanie mieszkania</a>
        <a href='/test'>Sprzątanie po remoncie</a>
        <a href='/test'>Pranie mebli</a>
        <a href='/test'>Mycie okien</a>
        <a href='/test'>Sprzątanie biur</a>
        <a href='/test'>Sprzątanie kuchni</a>
        <a href='/test'>Konstruktor sprzątania</a>
      </div>
    </div>
    <div class='basis-full'>
      <h2 class='border-white border-b-2 py-2'>PRACA</h2>
      <div class='flex flex-col gap-y-2 mt-4 text-sm'>
        <a href='/test'>Zostań cleanerem</a>
        <a href='/test'>Oferty pracy</a>
      </div>
    </div>
  </div>
  <div class='py-4'>Działamy w 2 miastach: Zielona Góra, Gorzów W.</div>
  <div class='py-4'>
    Clean Whale Sp. z o.o., KRS 0000868230, NIP: 6751738063, REGON:
    38745511400000 Warszawa, Łucka 18/2004, 00-845
  </div>
</footer>
