<div class='flex justify-center items-center mb-5'>
  <div>Test</div>
  <div>
    <img
      class='hidden lg:block'
      src={item.src}
      alt={item.title}
      width={128}
      height={128}
    />
  </div>
</div>
<div class='flex justify-center items-center mb-4'>
  <img
    class='lg:hidden'
    src={item.src}
    alt={item.title}
    width={64}
    height={64}
  />
</div>
