---
import Slider from "./Slider";
---

<section>
  <div class="lg:py-20 px-2 xl:px-20 text-center">
    <a href="/what-we-clean">
      <p class="py-4 font-bold text-3xl lg:text-6xl">
        Z czego składa się sprzątanie mieszkań?
      </p>
    </a>
    <Slider client:visible />
  </div>
</section>
