---
import Slider from "./Slider";
---

<section>
  <div class='lg:py-10 px-2 xl:px-20 text-center'>
    <a href='/what-we-clean'>
      <p class='lg:pb-10 font-bold text-3xl lg:text-6xl'>
        Z czego składa się sprzątanie mieszkań?
      </p>
    </a>
    <Slider client:visible />
  </div>
</section>
